{% extends 'imqr/base.html' %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">Scanner</h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
             
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body text-center embed-responsive embed-responsive-16by9">
          <video id="preview" ></video>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock body %}

{% block script %}
  
<script type="text/javascript">
      let scanner = new Instascan.Scanner({ video: document.getElementById('preview'),mirror: false });
      scanner.addListener('scan', function (content) {
        console.log(content);
        window.location.href="/item/create/?serial_number="+content;
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[1]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
    </script>
{% endblock script %}